<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_3_1.xsd"
    version="3.1">
	<display-name>Archetype Created Web Application</display-name>
	
	<servlet>
		<servlet-name>InsertForm</servlet-name>
		<servlet-class>servlet.InsertForm</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>InsertForm</servlet-name>
		<url-pattern>/InsertForm</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DeleteUser</servlet-name>
		<servlet-class>servlet.DeleteUser</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>DeleteUser</servlet-name>
		<url-pattern>/DeleteUser</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>
